<section class="intro-header">
    <section class="intro__content content_help">
        <h1>Acerca de Nosotros y de la App</h1>
    </section>
</section>
<section class="respuestas_about">
    <h3>¿Quíenes Somos?</h3>
    <p>
        Somos un equipo de trabajo dedicado al cuidado de la piel a través del uso de una aplicación móvil
         que ayuda a las personas a tener cuidado o prevecion con respecto a los rayos UV, los cuales son dañinos
        a la piel, a tal grado que podrían causar cancer a la piel y quemaduras de alto grado con la 
        constante exposicion
    </p>
    <br>
    <h3>¿Como hicimos para desarrollar la aplicación móvil?</h3>
    <p>
        La aplicación OvViolet2 fue creada con el fin de que la gente pueda estar más seguro, ya que estamos
        en tiempos en donde exponer constantemente al sol afecta gravemente a nuestra piel, por ello para 
        lograr todo eso diseñamos un dispositivo que pueda recoger los datos 
        <a style="color: blue!important;" href="https://espanol.epa.gov/espanol/como-calcular-el-indice-uv#:~:text=280%20x%201.06%20x%200.73,valor%20es%20el%20%C3%ADndice%20UV.">
            <strong> 
                acerca del índice UV...
            </strong>
        </a>
        para que llegue en tiempo real a la aplicación OnViolet en cualquiera de tus dispositivos y
        te recomiende formas de cuidado de acuerdo al índice  de radiación Uv.
    </p>
    <div class="section_download">
        <img class="promotional" src="image/capture_1.png"/>
        <img class="promotional" src="image/capture_2.png"/>
        <img class="promotional" src="image/capture_3.png"/>
        <img class="promotional" src="image/capture_4.png"/>
        <img class="promotional" src="image/capture_5.png"/>
    </div>
</section>
