<section class="intro-header">
    <section class="intro__content content_help">
        <h1>Protegiéndote de la radiación UV</h1>
        <br>
        <h6 style="text-decoration: uppercase;opacity: 0.6;">MANTENGA A SUS AMIGOS Y FAMILIARES A SALVO</h6>
        <br>    
        <h2 style="font-weight: 1000;">Comparte nuestra Iniciativa</h5>
        <p style="text-align: left;">
            Nuestra misión de OnViolet es mantenerlos a usted y familia a salvo de la radiación UV. 
            Puede ayudarnos a difundir nuestra causa dándole me gusta y compartiendo nuestra página.
        </p>
        <a  class="btn btn_indice" id="compartir">Compartir </a> 
        <br>
        <iframe style="margin-top: 20px;" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fradiacionuv-8196c.firebaseapp.com&layout=button&size=large&appId=275505493487747&width=103&height=28" width="103" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>    </section>
</section>
