<section class="intro-header">
    <section class="intro__content content_help">
        <h1>Ayudanos A ser Mejor Cada Día</h1>
        <br>
        <h6 style="text-decoration: uppercase;opacity: 0.6;">MANTENGA A SUS AMIGOS Y FAMILIARES A SALVO</h6>
        <br>    
        <h2 style="font-weight: 1000;">Comparte el Amor</h5>
        <p style="text-align: left;">
            Nuestra misión de OnViolet es mantenerlos a usted y a su familia a salvo del sol. Puede ayudarnos
             a difundir nuestra causa dándole me gusta y compartiendo nuestra página.
        </p>
        <a  class="btn btn_indice" id="compartir">Compartir </a> 

    </section>
</section>
