<section class="intro-header_contact">
    <section class="intro__content">
        <h1>Obten Ayuda Rápida</h1>
    </section>
</section>
<section class="contact rounded">
    <div class="row">
        <div class="col-sm-8 border border-primary first_column_contact">
            <h5>Contáctanos</h5>
            <br>
            <p>
                Póngase en contacto con nosotros si tiene alguna pregunta o problema general
                 y nuestro equipo de soporte se comunicará con usted lo antes posible.
            </p>
            <br>
            <center>
                <div class="spinner-border text-danger" id="spinner_contact" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </center>
            <center id="check">
                <img class="img-fluid" src="image/check.png">
                <br><br>
                <h5>Enviado</h5> 
            </center>  
            <form id="form_contact">            
                <div id="container_inputs_registro">
                    <div class="form-group"><label for="exampleInputnombres">Nombres y Apellidos</label>
                        <input class="form-control" autocomplete="additional-name" id="nombres_contact" type="text"  required="required"/>
                        <h5 id="error_nombres_registro"></h5>
                    </div>
                    <div class="form-group"><label for="exampleInputEmail2">Correo Electronico</label>
                        <input class="form-control" autocomplete="additional-name" id="email_contact" type="email" required="required"  />
                        <h5 id="error_email_contact"></h5>
                    </div>
                    <div class="form-group">
                        <label for="mensaje">Mensaje</label>
                        <textarea class="form-control" id="mensaje" rows="5"></textarea>
                    </div>
                </div>
                <center><button class="btn btn_indice btn_send_contact">Enviar</button></center>
            </form>
        </div>
        <div class="col-sm-4 second_column_contact">
            <h3>Nuestra Oficina</h3>
            <ul class="lista_footer_contact">    
                <li style="font-weight:1000;" >Dirección</li>
                <li>Jr. José Gálvez</li>
                <li>San Miguel - Cajamarca</li>
                <li>Peru</li>
                <li id="fecha"></li>
            </ul>
            <h3>Contacto</h3>
            <a style="color: black;" href="mailto:Elkisoft.s3@gmail.com">Elkisoft.s3@gmail.com</a> 
        </div>
    </div>
</section>