<section class="intro-header">
    <section class="intro__content content_help">
        <h1>Todas Tus preguntas Respondidas</h1>
    </section>
</section>
<section class="texto_respuestas">
    <p class="first_parrafo">
        Aquí, respondemos todas las respuestas que te pueden ser de utilidad. Si tiene alguna pregunta que no hayamos 
        respondido aquí, comuníquese con nosotros y estaremos encantados de ayudarle.
    </p>

    <h3>¿Cómo actúa OnViolet?</h3>
    <p>
        OnViolet le ayuda a mantenerse a salvo bajo el sol al proporcionarle pronósticos actualizados de la intensidad de los rayos UV durante el día. Utiliza datos en tiempo real para obtener el nivel o Indice UV.
        Además de informarle de la intensidad de los rayos UV, OnViolet también le ayuda a comprender que tan grave son los niveles de UV , atraves de
        recomendaciones adecauadas a cada tipo de intensidad
    </p>

    <h3>¿Cómo se calcula el índice UV?</h3>
    <p>
        El índice UV se calcula utilizando un modelo informático que relaciona la intensidad de 
        la radiación ultravioleta (UV) solar a nivel del suelo con la concentración de ozono
         estratosférico pronosticada, las cantidades de nubes pronosticadas y la elevación del 
         suelo. Los diferentes espectros de UV (UV-A, UV-B, UV-C) se ponderan luego de acuerdo con
          la sensibilidad de la piel humana a la radiación UV. 
        Para obtener más información, consulte el enlace a continuación.
        <a href="https://espanol.epa.gov/espanol/como-calcular-el-indice-uv#:~:text=280%20x%201.06%20x%200.73,valor%20es%20el%20%C3%ADndice%20UV.">
            <strong> 
                calcular el índice UV...
            </strong>
        </a>
    </p>
    <center>
        <a  class="btn btn_indice" id="ir_contactanos">Tienes mas Dudas? &nbsp; Contáctanos </a> 
    </center>
</section>