<section class="user_section">
    <br>
    <br>
    <br>
    <div class="row uv">
        <div class="col-sm first">
            <h2 style="font-weight: 1000;">Índice Uv</h2>
            <div class="demo container">
                <strong id="contenido_indice"></strong>
                <div class="spinner-border text-danger spinner_indice_uv" id="spinner" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-sm second">
            <h4>Recomendaciones</h4>
            <center>
                <div class="spinner-border text-danger spinner_recomendaciones" id="spinner_recomendaciones_indice" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="accordion">
                    <div class="card card_recomendaciones_indice">
                        <div class="card-header" id="header_recomendaciones" value="Bajo">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" 
                              data-toggle="collapse" data-target="#recomendaciones"
                              aria-expanded="true" aria-controls="recomendaciones">
                              <div class="row">
                                    <div class="col-sm nivel">
                                        
                                    </div>
                              </div>
                            </button>
                          </h2>
                        </div>
                        <div id="recomendaciones" class="collapse" aria-labelledby="header_recomendaciones
                         data-parent="#nivel_bajo">
                          <div class="card-body" id="card_body_recomendaciones" style="color: black;">
                              <h5>Recomendaciones</h5>
                          </div>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
    

</section>