
<section class="intro-header">
    <section class="intro__content">
        <h1>Manteniendote A Salvo siempre del Sol</h1>
        <h3>Dile no a la radiacion UV</h3>
        <h3>Pronósticos a cada minutos para que te mantengas siempre a salvo</h3>
        <a  class="btn btn_indice" id="ir_indice">Qués es el Índice UV? </a> 
        <a  class="btn btn_indice" id="ir_porque">Porque usar OnViolet2? </a> 
        <a  class="btn btn_indice" id="ir_descarga">Descargar App </a> 
    </section>
</section>
<section class="indice_uv">
    <div class="titulo_indice_uv">
        <h1>Índice Uv</h1>
        <img class="img-fluid img_title_uv" src="image/uv-index.svg"/>
    </div>
    <p>El índice UV es un indicador de la intensidad de radiación ultravioleta proveniente del Sol en la superficie terrestre en una escala que comienza en 0 y no está acotado superiormente. El índice UV también señala la capacidad de la radiación UV solar de producir lesiones en la piel.1​No siempre la cantidad de luz ambiental va relacionada con el índice UV, puede ser engañoso.</p>
    <section class="niveles_uv container">
        <div class="accordion" id="nivel_bajo">
            <div class="card">
              <div class="card-header" id="header_bajo" value="Bajo">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" 
                    data-toggle="collapse" data-target="#recomendaciones_bajo"
                    aria-expanded="true" aria-controls="recomendaciones_bajo">
                    <div class="row">
                        <div class="col-sm-2">
                            <h3>1 - 2</h3>
                        </div>
                        <div class="col-sm-4">
                            <h3>Bajo</h3>
                        </div>
                        <div class="col-sm-5">
                            <img src="image/sunglasses.svg"  class="img-fluid img_recomendaciones" />
                            <img src="image/bloqueador.png" class="img-fluid img_recomendaciones">
                        </div>
                        <div class="col-sm-1 arrow">
                            <img src="image/down-arrow.svg" class="img_up_down_recomendaciones"/>
                        </div>
                    </div>
                  </button>
                </h2>
              </div>
          
              <div id="recomendaciones_bajo" class="collapse" aria-labelledby="header_bajo"
               data-parent="#nivel_bajo">
                <div class="card-body">
                    <h5>Recomendaciones</h5>
                    <div class="load_page">
                        <div class="spinner-border text-danger spinner" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="accordion" id="nivel_moderado">
            <div class="card">
              <div class="card-header" id="header_moderado" value="Moderado">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" 
                    data-toggle="collapse" data-target="#recomendaciones_moderado"
                    aria-expanded="true" aria-controls="recomendaciones_moderado">
                    <div class="row">
                        <div class="col-sm-2">
                            <h3>3 - 5</h3>
                        </div>
                        <div class="col-sm-4">
                            <h3>Moderado</h3>
                        </div>
                        <div class="col-sm-5">
                            <img src="image/sunglasses.svg"  class="img-fluid img_recomendaciones" />
                            <img src="image/bloqueador.png" class="img-fluid img_recomendaciones">
                            <img src="image/cap.svg"  class="img-fluid img_recomendaciones" />
                        </div>
                        <div class="col-sm-1 arrow">
                            <img src="image/down-arrow.svg" class="img_up_down_recomendaciones"/>
                        </div>
                    </div>
                </button>
                </h2>
              </div>
          
              <div id="recomendaciones_moderado" class="collapse" aria-labelledby="header_moderadi"
               data-parent="#nivel_moderado">
                <div class="card-body">
                    <h5>Recomendaciones</h5>
                    <div class="load_page">
                        <div class="spinner-border text-danger spinner" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="accordion" id="nivel_alto">
            <div class="card">
              <div class="card-header" id="header_alto" value="Alto">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" 
                    data-toggle="collapse" data-target="#recomendaciones_alto"
                    aria-expanded="true" aria-controls="recomendaciones_alto">
                    <div class="row">
                        <div class="col-sm-2">
                            <h3>6 - 7</h3>
                        </div>
                        <div class="col-sm-4">
                            <h3>Alto</h3>
                        </div>
                        <div class="col-sm-5">
                            <img src="image/sunglasses.svg"  class="img-fluid img_recomendaciones" />
                            <img src="image/bloqueador.png" class="img-fluid img_recomendaciones">
                            <img src="image/cap.svg"  class="img-fluid img_recomendaciones" />
                            <img src="image/sweater.svg"  class="img-fluid img_recomendaciones" />
                        </div>
                        <div class="col-sm-1 arrow">
                            <img src="image/down-arrow.svg" class="img_up_down_recomendaciones"/>
                        </div>
                    </div>
                </button>
                </h2>
              </div>
          
              <div id="recomendaciones_alto" class="collapse" aria-labelledby="header_alto"
               data-parent="#nivel_alto">
                <div class="card-body">
                    <h5>Recomendaciones</h5>
                    <div class="load_page">
                        <div class="spinner-border text-danger spinner" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="accordion" id="nivel_muy_alto">
            <div class="card">
              <div class="card-header" id="header_muy_alto" value="Muy_Alto">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" 
                    data-toggle="collapse" data-target="#recomendaciones_muy_alto"
                    aria-expanded="true" aria-controls="recomendaciones_muy_alto">
                    <div class="row">
                        <div class="col-sm-2">
                            <h3>8 - 10</h3>
                        </div>
                        <div class="col-sm-4">
                            <h3>Muy Alto</h3>
                        </div>
                        <div class="col-sm-5">
                            <img src="image/sunglasses.svg"  class="img-fluid img_recomendaciones" />
                            <img src="image/bloqueador.png" class="img-fluid img_recomendaciones">
                            <img src="image/cap.svg"  class="img-fluid img_recomendaciones" />
                            <img src="image/sweater.svg"  class="img-fluid img_recomendaciones" />
                            <img src="image/tree.svg" class="img-fluid img_recomendaciones">
                        </div>
                        <div class="col-sm-1 arrow">
                            <img src="image/down-arrow.svg" class="img_up_down_recomendaciones"/>
                        </div>
                    </div>          
                    </button>
                </h2>
              </div>
              <div id="recomendaciones_muy_alto" class="collapse" aria-labelledby="header_muy_alto"
               data-parent="#nivel_muy_alto">
                <div class="card-body">
                    <h5>Recomendaciones</h5>
                    <div class="load_page">
                        <div class="spinner-border text-danger spinner" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="accordion" id="nivel_extremo">
            <div class="card">
              <div class="card-header" id="header_extremo" value="Extremo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" 
                    data-toggle="collapse" data-target="#recomendaciones_extremo"
                    aria-expanded="true" aria-controls="recomendaciones_extremo">
                    <div class="row">
                        <div class="col-sm-2">
                            <h3>11 - +</h3>
                        </div>
                        <div class="col-sm-4">
                            <h3>Extremo</h3>
                        </div>
                        <div class="col-sm-5">
                            <img src="image/sunglasses.svg"  class="img-fluid img_recomendaciones" />
                            <img src="image/bloqueador.png" class="img-fluid img_recomendaciones">
                            <img src="image/cap.svg"  class="img-fluid img_recomendaciones" />
                            <img src="image/sweater.svg"  class="img-fluid img_recomendaciones" />
                            <img src="image/tree.svg" class="img-fluid img_recomendaciones"/>
                            <img src="image/stop.svg" class="img-fluid img_recomendaciones"/>
                        </div>
                        <div class="col-sm-1 arrow">
                            <img src="image/down-arrow.svg" class="img_up_down_recomendaciones"/>
                        </div>
                    </div>          
                    </button>
                </h2>
              </div>
              <div id="recomendaciones_extremo" class="collapse" aria-labelledby="header_extremo"
               data-parent="#nivel_extremo">
                <div class="card-body">
                    <h5>Recomendaciones</h5>
                    <div class="load_page">
                        <div class="spinner-border text-danger spinner" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </section>
</section>
<section class="list_beneficios">
    <h3>¿ Por que usar OnViolet?</h3>
    <div class="card mb-3 beneficios">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="image/pronostico.png" class="card-img img_beneficios">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Pronósticos Uv</h5>
                    <p class="card-text">Su pronóstico de rayos UV todo el dia cada minuto, para que vea cuándo es seguro estar al aire libre y cuándo evitar el sol.</p>
                    <p class="card-text"><small class="text-muted">PLANIFIQUE EL MEJOR MOMENTO PARA ESTAR AL AIRE LIBRE</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 beneficios">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Recomendaciones</h5>
                    <p class="card-text">Los rayos UV son engañosos e invisibles para nuestros ojos, aprenda qué medidas de protección tomar y cuándo aplicar protector solar.</p>
                    <p class="card-text"><small class="text-muted">Ayudandote siempre a estar protegido</small></p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="https://uploads-ssl.webflow.com/5ed5e5febc49f02506fb30ff/5ed5f8055680f372cbf03a30_protection.png" class="card-img img_beneficios_2">
            </div>
        </div>
    </div>
</section>
<section class="app_mobile">
    <header class="header_app_mobile">
        <h2>Obtén OnViolet</h2>
        <h6>Protégete ti mismo con la mejor Aplicación UV de hoy </h6> 
    </header>
    <div class="section_download">
        <img class="promotional" src="image/promotional1.PNG"/>
        <img class="promotional" src="image/promotional2.PNG"/>
        <a class="link_dowloand" href="https://play.google.com/store/apps/details?id=com.app.OnViolet" target="blank">
            <img src="image/disponible.png" alt="" class="img-fluid">
        </a>
    </div>
</section>
