@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

body{
    font-family: Montserrat , sans-serif;
    overflow-x: hidden;
}
a{
    color:white
}
/* color del navbar */
#navbar__main{
    padding-top:-10px;
    background-color: #f17c22;
    max-height: 65px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    
}
.btn_indice{
    margin-top: 20px;
    background-color: #ff7e29;
    border: none;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
}
#img__main{
    height: 50px;
    max-height: 100%;
    padding:5px;
    margin-right: 18px;
}
.btn_hamburger_menu{
    display:none;
}
span{
    display: block;
    margin-bottom: 5px;
    width: 20px;
    height: 2px;
    background-color: white;
    transition: all 300ms ease-in;
    transform-origin:left center;
}

span:first-child{
    margin-top: 5px;
}

@media screen and (max-width:767px){
    .btn_hamburger_menu{
      display: inline-block;
    }

    #middle_items{
        margin: auto;
        transition: margin 2s;
    }
    .links__list , .social__list{
        background-color: white;
    }
    ul > .nav-item > .nav-link{
        color:black!important;
    }
    .follow{
        background-color: #f17c22 ;
    }
}
@media  screen and (max-width:300px){
    #img__main{
        height: 30px;
    }
}
ul > .nav-item{
    text-transform: uppercase;
    padding-top: 7.5px  ;
    font-size: 12px;
    line-height: 20px;
    padding-right: 30px;
    font-weight: 750;
    letter-spacing: 2px;
    text-align: center;
}
ul > .nav-item > .nav-link{
    color:white;
}
ul > .nav-item > .nav-link:hover{
    opacity: 0.6;
}

.socials__img , .socials_img_footer{
    text-align: center;
    width: 30px;
    transition: tranform 1s;
}
.socials__items{
    text-align: center;
}
.links__list{
    border-radius: 5px 5px 0px 0px;
}
.social__list{
    border-radius: 0px 0px 5px 5px;
}
footer{
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #253b48;
}
.footer_container{
    padding: 30px;
}

.follow{
    margin:auto;
    display:none;
}
.btn_registro_login{
    text-decoration: none;
    right: 20px;
    cursor: pointer;
    padding: 10px;
    bottom: 20px;
    display: flex;
    background-color: #7e93fc;
    width: auto;
    height: 50px;
    border-radius: 5%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    position: fixed;
    -webkit-box-shadow: -5px 49px 70px -20px rgba(0,0,0,0.8);
    -moz-box-shadow: -5px 49px 70px -20px rgba(0,0,0,0.8);
    box-shadow: -5px 49px 70px -20px rgba(0,0,0,0.8);
}
.btn_registro_login > h6{
    font-size: 15px;
    font-weight:750;
    color: white;
    text-align: center;
    margin-top: 5px;
}
#image_btn_registro_login{
    width: 30px;
    margin-right: 10px;
    height: 30px;
}
.open span:first-child{
    transform:rotate(45deg);
}
.open span:nth-child(2){
    opacity: 0;
}

.open span:last-child{
    transform: rotate(-45deg);
}

.btn_registro_login:hover{
    background-color: #2267FC;
    text-decoration: none;
}

.first_column , .second_column{
    margin-bottom: 20px;
}
#container_data_views{
    overflow: hidden;
}
.lista_footer_contact{
    list-style:none;
}
.lista_footer_contact{
    font-size: 15px;
}
.lista_footer_contact li:hover{
	margin-left:5px;
    font-weight:700;
}
.socials__img:hover{
    transform: scale(1.5);
    color:rgb(77, 77, 226);
}

.socials_img_footer:hover{
    transform: scale(1.5);
    color:rgb(77, 77, 226);
}
.policity{
    background-color: #333333;
    padding: 5px;
}
.load_page_initial{
    display:block;
    background-color:  white;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    right:0;
    left:0;
    z-index: 1000;
  }
  #spinner{
    position: absolute;
    top:45%;
    left:0%;
    right:0%;
    width: 5rem; height: 5rem;
    margin: auto;
  }
  @media screen and (max-width: 600px){
      h3{
          font-size: 1rem;
      }
      .img_recomendaciones{
          width: 25px!important;
          height: 25px!important;
          margin-left: 0!important;
      }
  }
  .overlay{
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: gray;
    opacity: 0;
    z-index: -1;
    transition: all 300ms ease-in;
  }
.titulo_modal{
    margin: auto;
    margin-right: 10px;
    font-weight: 1000;
    color: white;
}
.modal-header{
    background-color: #f17c22;
}
.btn_iniciar_sesion{
    font-weight: 1000;
    color: white;
}
.btn_iniciar_sesion:hover{
    color: white!important;
}
.close span{
    margin-top: 0!important;
    color: white;
}
.btn_registro{
    color:#007bff;
}
.modal-footer{
    text-align: center;
}
.btn_inicio{
    padding-top: 10px!important;
    padding-left: 10px!important;
    padding-right: 10x!important;
    padding-bottom: 10px!important;
}
#error_email, #error_pass , #error_pass_registro , #error_email_registro , #error_email_contact{
    color:#FE7F7F;
    font-size: 15px;
    font-weight: 1000;
    letter-spacing: 1px;
    margin: 5px;
}
#spinner_login_registro{
    margin-top: 20px;
    width: 5rem;
    display: none;
    height: 5rem;
}
#spinner_registro{
    margin-top: 20px;
    width: 5rem;
    display: none;
    height: 5rem;
}

#img_main{
    cursor: pointer;
}